@import "colors.scss";
@import "variables.scss";

footer{
  height: 200px;
  background-color: $primary-dark-blue;
  padding-top: 48px;
  padding-bottom: 35px;
  .footer-container{
    .top{
      width: 100%;
      position: relative;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(191,191,191,0.38);
      ul.links {
        list-style-type: none;
        li {


          font-size: 0.875em;
          font-weight: bold;
          line-height: 1.79;
          letter-spacing: 0.1px;
          text-align: center;
          color: $main-background;
          display: flex;
          justify-content: center;
          transition: all .4s ease;
          a{
            opacity: .6;
            width: 100%;
            padding-right: 19px;
            padding-left: 19px;
            display: flex;
            justify-content: center;
            &.active{
              opacity: 1;
              .moving-bar{
                width: 100px;
              }
            }
          }

          span {
            cursor: pointer;
          }
        }
      }
      ul.social{
        list-style-type: none;
        display: flex;
        li{
          background-color: $main-background;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 54px;
          width: 54px;
          border-radius: 100%;
          transition: all .4s ease;
          margin-left: 5px;
          cursor: pointer;
          &:last-child{
            margin-left: 0;
          }
          &:first-child{
            background-image: linear-gradient(51deg, $red-gradient-end, $red-gradient-start);
            i{
              color:$main-text-color;
            }
          }
          i{
            font-size: 1.6em;
            color:#748086;
            transition: all .4s ease;
            &.dfi-twitter{
              font-size: 1.5em;
            }
          }
          &:hover{
            background-image: linear-gradient(51deg, $red-gradient-end, $red-gradient-start);
            i{
              color: $main-text-color;
            }
            &:first-child{
              background: $main-background none;
              i{
                color:#748086;
              }
            }
          }
        }
      }
      .moving-bar {
        position: absolute;
        transition: width .4s ease;
        height: 5px;
        border-radius: 4px;
        background-color: $primary-red;
        bottom: -3px;
        z-index: 9;
        width: 5px;
      }

    }
    .down{
      margin-top: 17px;
      >div{
        width: 100%;
        display: flex;
        align-items: center;
        opacity: 0.38;
        font-family: Roboto;
        font-size: 0.625em;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 1.5px;
        color: #dff4ff;
      }
      .copyright{
        text-align: left;
        justify-content: flex-end;
      }
      .design{
        text-align: right;
        margin-top: -2px;
      }
    }
  }
}

@include mobile-xl(){
    footer{
      height: auto;
      .footer-container{
        margin-left: 0;
        margin-right: 0;
        width: 100% !important;
        .top{
          flex-direction: column-reverse;
          ul.social{
            margin-bottom: 50px;
            li{
              width: 30px;
              height: 30px;
              margin-left: 12px;
              i{
                font-size: .9em;
                &.dfi-twitter{
                  font-size: .8em;
                }
              }
            }
          }
        }
        .down{
          margin-top: 52px;
          >div{
            justify-content: center!important;
            text-align: center!important;
          }
          .design{
            margin-top: 10px;
          }
        }
      }
    }
}

@include mobile-m(){
  footer {
    .footer-container {
      .top {
        ul.links{
          li{
            font-size: 0.675em;
          }
        }
      }
    }
  }
}
