@import "colors.scss";
@import "variables";

section#header {
  background: url("/assets/images/static-pages/survey.jpg") no-repeat top;
}

input,select,textarea{
  border: 1px solid #e0e0e0;
  color:#000;
  font-size: 14px;
  letter-spacing: 0.3px;
  padding: 16px 14px;
  display: flex;
  align-items: center;
  &:invalid{
    border-color: #d53f56;
  }
}
input{
  width: 100%;
  height: 60px;

}
textarea{
  resize: vertical;
  align-items: flex-start;
  min-height: 160px;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  .row{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    .input-container{
      //width: calc(50% - 25px);
      flex: 1;
      display: flex;
      flex-direction: column;
      &:first-child{
        margin-left: 25px;
      }
      &:last-child{
        margin-right: 25px;
      }
      label{
        font-size: 9px;
        line-height: 1.67;
        letter-spacing: 0.1px;
        color: #000000;
        margin-bottom: 17px;
      }


    }
  }
}

.line{
  height: 9px;
  width: 2px;
  background-color: $primary-red;
  margin-left: 54px;
  border-radius: 7px;
}

#survey-form{
  display: flex;
  justify-content: center;
  margin-bottom: 63px;
  padding-top: 80px;
  .survey-form-wrapper{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 87px;
    .title{
      flex:430;
      display: flex;
      flex-direction: column;

      //align-items: center;
      h2{
        width: 100%;
        padding : 0 25%;
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1.73;
        letter-spacing: 0.3px;
        text-align: right;
        color: $primary-light-blue;
      }
      p{
        width: 100%;
        padding : 0 25%;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.75;
        letter-spacing: 0.1px;
        color: #4d4d4d;
        margin-bottom: 7px;
        text-align: justify;
        text-align-last: right;
        -moz-text-align-last: right;
      }
    }
    .form-wrapper{
      flex:738;

    }
  }
}

#questions-forms{
  .container{
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 63px;
    margin-bottom: 63px;
  }
  .pq-form-wrapper,.oq-form-wrapper{
    display: flex;
    flex-direction: column;

    .head-title{
      display: flex;
      align-items: center;
      margin-bottom: 54px;
      span,label{
        font-size: .875em;
        font-weight: bold;
        line-height: 1.79;
        //letter-spacing: -1.5px;
        color: #4d4d4d;
      }
    }
    .table-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 4%;
      padding-left: 4%;
      margin-bottom: 57px;
      .table-header{
        display: flex;
        width: 100%;
        span{
          display: flex;
          align-items: center;
          width: 50%;
          height: 39px;
          background-color: #23419b;
          font-size: .875em;
          line-height: 1.79;
          color: $main-background;
          padding-right: 20px;
          &:first-child{
            opacity: .7;
          }
          &:last-child{
            opacity: .8;
            padding-right: 3%;
          }
        }
      }
      ul.table{
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        >li{
          display: flex;
          align-items: center;
          height: 42px;
          background-color: #fff;
          font-size: .75em;
          line-height: 1.75;
          color: #3f3f3f;
          &:nth-child(even){
            background-color: #ececec;
          }
          .question{
            padding-right: 20px;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            white-space: nowrap;
          }
          ul.answers{
            list-style-type: none;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            li{
              flex:1;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-left: 9px;
              padding-right: 9px;
              cursor: pointer;
              &:hover{
                border-color:$primary-red;
              }
              .check-box{
                margin-right: 24%;
                width: 15px;
                height: 15px;
                border-radius: 2px;
                border:1px solid #a8a8a8;
                transition: all .4s ease;
                &.checked{
                  background-color: $primary-red;
                  border-color:$primary-red;
                }
              }
            }
          }
        }
      }
    }
  }

  .oq-form-wrapper{
    .grad-btn{
      margin-top: 132px;
      font-size: .875em;
      line-height: 1.79;
      letter-spacing: 0.1px;
      text-align: center;
      color: $main-background;
      align-self: flex-end;
    }
    .table-wrapper{
      ul.table {
        background-color: red;
        > li {
          background-color: #ececec;
          &:nth-child(even) {
            background-color: #fff;
          }
        }
      }
    }
  }
}

@include tablet-s(){
  #survey-form{
    padding-top: 15px;
    .survey-form-wrapper{
      flex-direction: column;
      .title{
        flex: none;
        width: 100%;
        h2{
          padding: 0 4%;
        }
        p{
          padding: 0 4%;
        }
      }
      .form-wrapper{
        flex: none;
        width: 100%;
        padding-left: 0!important;
        form {
          .row {
            flex-direction: column;
            .input-container {
              margin-bottom: 15px;
              &:first-child {
                margin-left: 0;
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  #questions-forms {
    textarea{
      margin-right: 4%;
    }
    .container {
      width: 100%;
      margin-bottom: 35px;
    }
    .pq-form-wrapper,.oq-form-wrapper{
      width: 100%;
      .head-title{
        padding-left: 8%;
        padding-right: 8%;
      }
      .table-wrapper{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
        ul.table{
          >li{
            height: auto;
            padding-top: 7px;
            padding-bottom: 7px;
            flex-direction: column;
            .question{
              width: 100%;
              margin-bottom: 15px;
            }
            ul.answers{
              width: 100%;
            }
          }
        }
      }
    }
    .oq-form-wrapper{
      .grad-btn{
        margin-top: 35px;
        align-self: center;
      }
    }
  }
}
