@import "colors.scss";
@import "variables.scss";

@include wiggle(wiggle-v, vertical, 6px);
@include wiggle(wiggle-h, horizontal, 5px);

section#header {
  background-color: $secondry-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 71px);
  .product-images {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    > div {
      height: 100%;
    }
    .ctrl {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        span, i {
          opacity: 1;
        }
      }
      span {
        opacity: .4;
        transition: all .4s ease;
        padding-right: 8px;
        font-size: .625em;
        line-height: 1.7;

        color: #525252;
      }
      i {
        opacity: 0.2;
        transition: all .4s ease;
        font-size: 1.2em;
        color: $red-gradient-start;
      }
    }
    .images {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      position: relative;
      .side {
        position: absolute;
        &:nth-child(2) {
          bottom: 0;
          left: 5%;
          animation: wiggle-h 10s ease-in-out;
          animation-iteration-count: infinite;
          animation-delay: 100ms;
        }
        &:nth-child(3) {
          bottom: 5%;
          right: 10%;
          animation: wiggle-v 10s ease-in-out;
          animation-iteration-count: infinite;
          animation-delay: 200ms;
        }
        &:nth-child(4) {
          top: 0;
          left: 20%;
          animation: wiggle-v 10s ease-in-out;
          animation-iteration-count: infinite;
          animation-delay: 300ms;
        }
        &:nth-child(5) {
          top: 0;
          right: 10%;
          animation: wiggle-h 10s ease-in-out;
          animation-iteration-count: infinite;
          animation-delay: 400ms;
        }
        &:nth-child(6) {
          display: none;
        }
      }
    }
  }
  h1 {
    font-size: 1.25em;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
  }
  h2 {
    color: #73a441;
    font-size: 1.125em;
    font-weight: normal;
  }
  .colors {
    margin-bottom: 56px;
    margin-top: 33px;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 14px;
        height: 14px;
        border-radius: 100%;
        margin-left: 12px;
        margin-right: 12px;
        z-index: 2;
        cursor: pointer;
        &:nth-child(1) {
          background-color: #d13e6f;
          transform: translateY(0);
        }
        &:nth-child(2) {
          background-color: #feae62;
          transform: translateY(5px);
        }
        &:nth-child(3) {
          background-color: #85bd00;
          transform: translateY(10px);
        }
        &:nth-child(4) {
          background-color: #d10e23;
          transform: translateY(5px);
        }
        &:nth-child(5) {
          background-color: #e37653;
          transform: translateY(0);
        }
        > div {
          width: 26px;
          height: 26px;
          border-radius: 100%;
          background-color: inherit;
          opacity: 0;
          transition: all .4s ease;
          position: absolute;
          z-index: 1;
        }
        &:hover, &.active {
          > div {
            opacity: .26;
          }
        }
      }
    }
  }
}

section#attributes {
  background-color: $secondry-background;
  padding-top: 190px;
  padding-bottom: 95px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  svg {
    position: absolute;

    width: 100%;
    z-index: -1;
    &#big {
      bottom: 0;
      height: 100%;
    }
    &#small {
      top: 0;
      display: none;
    }
  }
  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    justify-content: center;
    .sign {
      border-radius: 5px;
      height: 70px;
      width: 5px;
      background-color: $red-gradient-start;
      position: absolute;
      right: 0;
    }
    margin-bottom: 65px;
    h2, h3 {
      line-height: initial;
      font-size: 1.625em;
      text-align: right;
    }
  }
  .attr-container {
    > div {
      width: 50%;
    }
    .pr-3dmodel {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .pr-attr {
      display: flex;
      flex-direction: column;
      .pr-props {
        display: flex;
        flex-direction: column;
        .title {
          margin-bottom: 22px;
        }
        .minus-plus-sign {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: -11px;
          cursor: pointer;
          width: 22px;
          height: 22px;
          &.active {
            .hr {
              //opacity: 0;
              transform: rotate(360deg);
            }
            .vr {
              opacity: 0;
              transform: rotate(360deg);
            }
          }
          > div {
            border-radius: 5px;
            background-color: $red-gradient-start;
            position: absolute;
          }
          .vr {
            width: 2px;
            height: 22px;
            opacity: 1;
            transition: all 0.4s ease-in-out;
          }
          .hr {
            opacity: 1;
            transition: all 0.4s ease-in-out;
            width: 22px;
            height: 2px;
          }
        }
        .pr-props-content {
          display: flex;
          flex-direction: column;
          padding-right: 25px;
          max-height: 0;
          transition: max-height 0.4s ease-out;
          overflow: hidden;
          &.active {
            max-height: 2000px;
          }
          .dot-sign {
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: $red-gradient-start;
            margin-left: 10px;
          }
          .prop-group {
            display: flex;
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0;
            }
            .prop-group-title {
              display: flex;
              align-items: center;
              h4 {
                font-size: 1.25em;
                line-height: 1.75;

                text-align: right;
                color: #f4f3f0;
                border-left: 1px solid #f4f3f0;
                margin-left: 15px;
                padding-left: 15px;
              }
            }
            p {
              opacity: 0.75;
              font-size: 16px;
              line-height: 1.75;
              text-align: right;
              color: #f4f3f0;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }

}

section#from-blog {
  background-color: $main-background;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .domino-section-element {
    .line, .circle {
      background-color: #e2e2e2;
    }
  }
  h2 {
    color: $light-gray-text;
    margin-bottom: 60px;
  }

}

section#next-product {
  height: 300px;
  background-color: $secondry-background;
  .controllers {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 40px;
    span {
      font-size: .625em;

      color: #b3b3b3;
      transform: rotate(90deg) translateX(55px);
      white-space: nowrap;
    }
    i {
      opacity: .5;
      color: $primary-red;
      transition: all .4s ease;
      cursor: pointer;
      font-size: 1.2em;
      &:hover {
        opacity: 1;
      }
    }
  }
  .pr-logo-wrapper {
    flex-grow: 1;
    height: 100%;
    .pr-logo {
      position: relative;
      img {
        position: absolute;
      }
    }
  }
}

@include tablet() {
  section#header {
    .product-images {
      .images {
        .main {
          z-index: 2;
        }
        .side {
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(5) {
            display: none;
          }
          &:nth-child(6) {
            z-index: 1;
            display: block;
            filter: brightness(250%);
          }
        }
      }
    }
  }
}

@include tablet-s() {
  section#header {
    .product-images {
      .ctrl {
        display: none;
      }
    }
  }
  section#attributes {
    background-image: linear-gradient(to bottom, #1c63cd 0%, #1e44b1 100%);
    svg {
      &#big {
        display: none;
      }
      &#small {
        display: block;
      }

    }
    padding-top: 100px;
    .attr-container {
      flex-direction: column;
      padding-right: 11px;
      padding-left: 11px;
      > div {
        width: 100%;
      }
      .pr-3dmodel {
        margin-bottom: 90px;
      }
    }
  }
  section#next-product {
    height: 520px;
    .container {
      padding-top: 40px;
      justify-content: space-between;
      flex-direction: column-reverse !important;
      padding-bottom: 40px;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    .controllers {
      width: 100%;
      height: 40px;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 30px;
      flex-direction: row;
      justify-content: center;
      i {
        transform: rotate(90deg);
      }
      span {
        transform: none;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    .pr-logo-wrapper {
      width: 100%;
      .pr-logo {
        width: 100%;

      }
    }
  }
}

@include mobile-xl() {
  section#header {
    .product-images {
      .container {
        width: 100% !important;
      }
      .images {
        .side {
          &:nth-child(3) {
            right: -70px;
          }
          &:nth-child(4) {
            left: -45px;
          }
        }
      }
    }
  }
}

@include mobile-m() {
  .pr-logo {
    img:last-child {
      width: 98% !important;
    }
  }
}

@media screen and (max-height: 690px) {
  section#header{
    .colors{
      margin-bottom: 30px;
    }
  }
}


@media screen and (max-height: 620px) {
  section#header{
    height: auto!important;
  }
}
