@import "colors.scss";
@import "variables";

section#header {
  background: url("/assets/images/static-pages/about-bg-1.jpg") no-repeat top;
}

section#about-text, section#about2-text {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  .siw {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  p {
    line-height: 1.9;
    font-size: 1.125em;
    color: $main-text-color;
    margin-top: 40px;
    z-index: 1;
    text-align: justify;
    text-align-last: right;
    -moz-text-align-last: right;
  }
}

section#about-text {
  padding-top: 370px;
  margin-top: -19%;
  svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

  }
  .siw {
    z-index: 99;
    padding-bottom: 136px;
    h2 {
      font-size: 3.4em;
      color: $main-text-color;
      align-self: flex-end;
      font-weight: bold;
      line-height: 1.32;
      margin-bottom: 90px;
    }
  }
}

section#about2-text {
  background-size: contain;
  .container {
    background: url("/assets/images/static-pages/about-el.png") no-repeat center;
    background-position-y: 5%;
    background-position-x: 5%;
    animation: wiggle-bc 6s ease-in-out;
    animation-iteration-count: infinite;
  }
  .siw {
    align-items: center;
    p {
      color: #666666;
      background-color: rgba(255, 255, 255, 0.8);
    }
    .outer-circle {
      margin-top: 45px;
      margin-bottom: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 695px;
      height: 695px;
      border-radius: 100%;
      border: 1px solid #1ed0ff;
      .inner-circle {
        display: flex;
        width: 632.7px;
        height: 632.7px;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        img {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: all .4s ease;
          opacity: 0;
          &.active {
            opacity: 1;
          }
        }
      }
    }
    .number-browser-wrapper {
      margin-bottom: 76px;
    }
  }
}

@keyframes wiggle-bc {
  0% {
    background-position-y: 5%;
    background-position-x: 5%;
  }
  25% {
    background-position-y: -5%;
    background-position-x: 5%;
  }
  50% {
    background-position-y: 5%;
    background-position-x: -5%;
  }
  75% {
    background-position-y: -5%;
    background-position-x: -5%;
  }
  100% {
    background-position-y: 5%;
    background-position-x: 5%;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

section#about-features {
  .about-features-wrapper {
    border-top: 1px solid #B3B3B3;
    width: 100%;
    display: flex;
    min-height: 416px;
    align-items: center;
    padding-top: 76px;
    margin-bottom: 99px;
    .circles-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 416px;
      min-width: 416px;
      height: 416px;
      transform: rotate(0);
      animation: rotating 20s linear;
      animation-iteration-count: infinite;
      .circle {
        width: 164px;
        height: 164px;
        border: 3px solid black;
        position: absolute;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .4s ease;
        .circle-inside{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          animation: rotating 20s linear;
          animation-iteration-count: infinite;
          animation-direction: reverse;
        }
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-animation: features-animation-out .4s;
          background-image: linear-gradient(46deg, #FEAE62, #D53F56);
          &:after {
            position: absolute;
            content: '';
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $main-background;
            border-radius: 100%;
          }
        }

        i {
          color: $red-gradient-end;
          margin-bottom: 10px;
          font-size: 2em;
        }
        span {
          font-size: .75em;
          line-height: 1.75;

          text-align: center;
          color: $dark-gary-text;
        }
        &:nth-child(1) {
          border-color: #6cb5de;
        }

        &:nth-child(2) {
          border-color: #feae62;

        }

        &:nth-child(3) {
          border-color: #76dc8f;
        }

        &:nth-child(4) {
          border-color: #23419b;
        }

        &:nth-child(5) {
          border-color: #d53f56;
        }
      }
    }
    .feature-texts {
      flex-grow: 1;
      height: 100%;
      padding: 0 35px;
      display: flex;
      justify-content: space-between;
      .column {
        display: flex;
        flex-direction: column;
        flex: 1;
        .feature-group {
          display: flex;
          flex-direction: column;
          margin-bottom: 25px;
          h4.title {
            font-size: 1.25em;
            line-height: 1.75;

            color: #4d4d4d;
            margin-bottom: 10px;
          }
          .desc {
            display: flex;
            margin-bottom: 13px;
            align-items: center;
            .circle {
              width: 6px;
              min-width: 6px;
              height: 6px;
              border-radius: 100%;
              background-color: $primary-red;
              margin-left: 8px;
            }
            p {
              flex-grow: 1;
              font-size: 1em;
              line-height: 1.75;

              text-align: justify;
              text-align-last: right;
              -moz-text-align-last: right;
              color: $light-gray-text;
              padding-right: 14px;
            }
          }
        }
      }
    }
  }
}

@include laptop() {
  section#about-text {
    margin-top: -23.5%;
  }
}

@include tablet() {
  section#about-text {
    margin-top: -36%;
  }
  section#about-features{
    .about-features-wrapper{
      flex-direction: column;

      .feature-texts{
        flex-direction: column;
        flex-grow: unset;
        .column{
          flex: unset;
          width: 100%;
          margin-left: 0!important;
          margin-right: 0!important;
        }
      }
    }
  }
}

@include tablet-s() {
  section#about-text {
    margin-top: 0;
    padding-top: 25px;
    background-image: linear-gradient(to bottom, #1ed0ff, #126dff);
    .section-inside-wrapper {
      h2 {
        align-self: center;
        margin-bottom: 30px;
      }
    }
    svg#big {
      display: none !important;
    }
  }

  section#about2-text {
    .container {
      background: url("/assets/images/static-pages/about-el-small.png") no-repeat center;
      background-size: contain;
      background-position-y: top;
      animation-duration: 5s;
    }
    .section-inside-wrapper {
      p {
        background-color: transparent;
      }
      .outer-circle {
        width: 95vw;
        height: 95vw;
        .inner-circle {
          width: 91%;
          height: 91%;
          img {
            width: 100%;
            height: 100%;

          }
        }
      }
    }
  }


}

@include mobile-l(){
  section#about-features{
    .about-features-wrapper{
      .circles-wrapper{
        width: 95vw;
        height: 95vw;
        min-width: unset;
        .circle{
          width: 129px;
          height: 129px;
          i{
            font-size: 1.8em;
          }
          span{
            font-size: .55em;
          }
        }
      }
    }
  }
}
