<div class="wrapper flex-col wi-100">
  <section id="header">
    <div class="bc-grad"></div>
    <div class="navigator-wrapper">
      <div class="container flex-row jus-between al-center">
        <i class="dfi dfi-close"></i>
        <d-bread-crumb [links]="[{title:'صفحه اصلی',link:'/'},{title:'درباره ما',link:''}]" [white]="true"></d-bread-crumb>
      </div>
    </div>
    <div class="title">
      <h1>درباره ما</h1>
      <div class="line"></div>
    </div>
  </section>
  <section id="about-text">
    <svg preserveAspectRatio="xMinYMin slice" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1300 1081.37">
      <defs>
        <pattern id="img1" patternUnits="objectBoundingBox" width="100%" height="100%">
          <image preserveAspectRatio="xMinYMin slice" xlink:href="../../../assets/images/static-pages/about-bg-2.jpg"
                 x="0" y="0" width="100%" height="100%"/>
        </pattern>
        <style>
          .elp2 {
            opacity: 0.91;
            isolation: isolate;
            fill: url(#linear-gradient);
          }
        </style>
        <linearGradient id="linear-gradient" x1="-308.34" y1="1736" x2="-309.38" y2="1735.01"
                        gradientTransform="matrix(1573.21, 635.62, 438.19, -1084.55, -274164.95, 2079156.34)"
                        gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#1ed0ff"/>
          <stop offset="1" stop-color="#126dff"/>
        </linearGradient>
      </defs>
      <path fill="url(#img1)" id="elp1" class="elp1"
            d="M1057.34,106.18a1127.93,1127.93,0,0,0-116.07,13.29c-25.09,4.19-51.81,9.53-120.95,26.74-81.83,20.37-92.1,24.76-168.84,44.31-75.77,19.3-114.65,29.12-163.72,37.38a1281,1281,0,0,1-132.47,15.31,812.34,812.34,0,0,1-88,.45A782.9,782.9,0,0,1,166,232.37c-37.29-6.88-42.9-11.14-78.55-17.8A625.26,625.26,0,0,0,0,204.44v876.93H1300V145.15A550,550,0,0,0,1057.34,106.18Z"/>
      <path id="elp2" class="elp2"
            d="M0,1081.37H1300v-557C790,513.35,568.58-23.9,127.92.83,79.47,6.45,36.66,19.38,0,39.37Z"/>
    </svg>
    <div class="container flex-row jus-center">
      <div class="section-inside-wrapper">
        <h2>شرکت لبنیات و</h2>
        <h2 style="margin-bottom: 90px;">بستنی دومینو</h2>
        <p>شرکت لبنیات و بستنی دومینو در سال 1390 با پشتوانه غنی از تجربه و تخصص که حاصل بیش از سی سال تلاش مداوم و
          کارآفرینی بنیانگذاران خود که تا قبل از تاسیس دومینو به عنوان یکی از بنیانگذاران و مالکان مجموعه لبنیات و بستنی
          میهن فعالیت می کردند، تاسیس گردید. این شرکت با بهره گیری از آخرین فناوری های پیشرفته و مدرن ترین تجهیزات
          تولیدی تلاش می کند بهترین و با کیفیت ترین محصولات را تولید و به بازار عرضه نماید. در این راه ماشین آلات و
          تجهیزات تولیدی این شرکت از کشورهای صاحب نام این صنعت مانند آلمان ، سوئد ، دانمارک وارد کشور شده است.</p>
        <p>چشم انداز این شرکت که با ماموریت تولید بهترین محصولات و تاکید بر صادرات محور بودن آن شکل گرفته است تبدیل شدن
          به یکی از سه شرکت بزرگ فعال در بازار لبنیات و بستنی خاورمیانه و شمال آفریقا می باشد. دومینو با در نظر گرفتن
          شعار " طعمی نو " تلاش دارد با بهره گیری از کلیه منابع ، استاندارد جدیدی از طعم و مزه و تنوع محصولات را در صنعت
          لبنیات و بستنی ایجاد کند. استفاده از بهترین و ممتازترین مواد اولیه و تلفیق آن با قابلیت و خلاقیت کارشناسان این
          شرکت و توجه ویژه به ذائقه مصرف کنندگان، سبد گسترده و کاملی از انواع بستنی و شیر ایجاد کرده است که رضایت هر
          مصرف کننده ای را جلب خواهد نمود.</p>
      </div>
    </div>
  </section>

  <section id="about2-text">
    <div class="container flex-row jus-center">
      <div class="section-inside-wrapper">
        <p>این شرکت با سرمایه گذاری گستره اقدام به پیاده سازی یکی مدرن ترین آزمایشگاه های شیر ، بزرگترین واحد تحقیق و
          توسعه صنعت لبنیات و بستنی در ایران ، کارگاه تولید فالوده ، خط تولید نان بستنی و واحد تولید شکلات در درون
          مجموعه دومینو نموده است و در کنار اینها از مجهزترین و بزرگترین مجموعه سردخانه های تخصصی بستنی بهره می
          گیرد.</p>
        <p>از افتخارات دومینو ساخت و بهره برداری از دو دستگاه تولدی بستنی بر اساس تحقیقات و ایده پردازی تیم تحقیق و
          توسعه و فنی شرکت و تولید بزرگترین تولید گنندگان و صاحبان تکنولوژی صنعت لبنیات و بستنی دنیا می باشد که انحصار
          استفاده از این تکنولوژی تا سالهای برای شرکت دومینو محفوظ باقی خواهد ماند.</p>
        <div class="outer-circle">
          <div class="inner-circle">
            <img src="../../../assets/images/static-pages/about-us-3.jpg">
          </div>
        </div>
        <div class="number-browser-wrapper">
          <ul class="number-browser">
            <li #numbers (mouseover)="moveGoo($event)">۰۱</li>
            <li #numbers (mouseover)="moveGoo($event)">۰۲</li>
            <li #numbers (mouseover)="moveGoo($event)">۰۳</li>
            <li #selectedNum class="selected-num"></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="about-features">
    <div class="container">
      <div class="about-features-wrapper">
        <div class="circles-wrapper">
          <div class="circle">
            <div class="icon">
              <i class="dfi dfi-feature-number"></i>
            </div>
            <span>اهداف</span>
          </div>
          <div class="circle">
            <div class="icon">
              <i class="dfi dfi-feature-distribution"></i>
            </div>
            <span>شبکه توضیع و فروش</span>
          </div>
          <div class="circle">
            <div class="icon">
              <i class="dfi dfi-feature-foundation"></i>
            </div>
            <span>تاسیس</span>
          </div>
          <div class="circle">
            <div class="icon">
              <i class="dfi dfi-feature-products"></i>
            </div>
            <span>تعداد محصولات</span>
          </div>
          <div class="circle">
            <div class="icon">
              <i class="dfi dfi-feature-perspective"></i>
            </div>
            <span>چشم انداز‌ها</span>
          </div>
        </div>
        <div class="feature-texts">
          <div class="column" style="margin-left: 40px;">
            <div class="feature-group">
              <h4 class="title">تاسیس</h4>
              <div class="desc">
                <div class="circle"></div>
                <p>سال 1390 پس از جدایی از شرکت لبنیات و بستنی میهن</p>
              </div>
            </div>
            <div class="feature-group">
              <h4 class="title">چشم انداز‌ها</h4>
              <div class="desc">
                <div class="circle"></div>
                <p>تبدیل به یکی از سه  شرکت برتر صنعت لبنیات و بستنی در خاورمیانه و شاخ آفریقا</p>
              </div>
            </div>
            <div class="feature-group">
              <h4 class="title">اهداف</h4>
              <div class="desc">
                <div class="circle"></div>
                <p>تمرکز روز ذائقه مصرف کنندگان</p>
              </div>
              <div class="desc">
                <div class="circle"></div>
                <p>نوآوری و تولید محصولات جدید</p>
              </div>
              <div class="desc">
                <div class="circle"></div>
                <p>ایجاد اشتغال مولد و سرمایه گذاری پایدار</p>
              </div>
            </div>
          </div>
          <div class="column" style="margin-right: 40px;">
            <div class="feature-group">
              <h4 class="title">تعداد محصولات</h4>
              <div class="desc">
                <div class="circle"></div>
                <p>بیش از 80 مدل محصول در طعم های مختلف که شامل تنوعی بیش از 250 محصول است</p>
              </div>
            </div>
            <div class="feature-group">
              <h4 class="title">شبکه توضیع و فروش</h4>
              <div class="desc">
                <div class="circle"></div>
                <p>تاسیس 10 شعبه نمایندگی با مالکیت 100 درصد دومینو در  نقاط مختلف کشور</p>
              </div>
              <div class="desc">
                <div class="circle"></div>
                <p>اعطای 98 نمایندگی انحصاری در سراسر کشور</p>
              </div>
              <div class="desc">
                <div class="circle"></div>
                <p>ارایه محصول به بیش از 350 نمایندگی فروش در سراسر کشور</p>
              </div>
              <div class="desc">
                <div class="circle"></div>
                <p>محصولات در استانهای تهران، البرز و سمنان</p>
              </div>
              <div class="desc">
                <div class="circle"></div>
                <p>همکاری با 200 مجموعه پیمانکاری فروش</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="blur-effect" style="width: 0;height: 0;">
    <defs>
      <filter id="shadowed-goo">

        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"/>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"/>
        <feGaussianBlur in="goo" stdDeviation="3" result="shadow"/>
        <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2"
                       result="shadow"/>
        <feOffset in="shadow" dx="1" dy="1" result="shadow"/>
        <feComposite in2="shadow" in="goo" result="goo"/>
        <feComposite in2="goo" in="SourceGraphic" result="mix"/>
      </filter>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"/>
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"/>
        <feComposite in2="goo" in="SourceGraphic" result="mix"/>
      </filter>
    </defs>
  </svg>
</div>
