<div class="wrapper flex-col wi-100">
  <section id="header">
    <div class="bc-grad"></div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1299 150.35">
      <defs>
        <style>
          .pg-bg-down-curve {
            fill: #fff;
          }
        </style>
      </defs>
      <path class="pg-bg-down-curve"
            d="M1056.25,1.21A1122.69,1122.69,0,0,0,940.68,14.45C915.59,18.64,888.87,24,819.73,41.19,737.9,61.56,727.63,66,650.89,85.5c-75.77,19.3-114.65,29.12-163.72,37.38A1284.1,1284.1,0,0,1,354.7,138.19a816.87,816.87,0,0,1-88,.46,785.87,785.87,0,0,1-101.29-11.33c-37.29-6.89-42.89-11.15-78.55-17.81A624.5,624.5,0,0,0,0,99.45v50.9H1299V40.16A550.16,550.16,0,0,0,1056.25,1.21Z"/>
    </svg>
    <div class="navigator-wrapper">
      <div class="container flex-row jus-between al-center">
        <i class="dfi dfi-close"></i>
        <d-bread-crumb [white]="true"></d-bread-crumb>
      </div>
    </div>
    <div class="title">
      <h1>تماس با ما</h1>
      <div class="line"></div>
    </div>
  </section>
  <section id="info" class="flex-row jus-center">
    <div class="container info-wrapper flex-row al-center">
      <div class="name flex-col jus-center al-center">
        <h2>شرکت لبنیات و</h2>
        <h2>بسـتنی دومـینو</h2>
      </div>
      <div class="contact-info">
        <ul class="contact">
          <li>
            <i class="dfi dfi-pin"></i>
            <span>آدرس</span>
            <div class="line"></div>
            <a href="https://goo.gl/maps/z2i1ai4PWmu" target="_blank">تهران، اسلامشهر، شاطره، انتهای خیابان شهید
              رجایی</a>
          </li>
          <li>
            <i class="dfi dfi-phone"></i>
            <span>تلفن</span>
            <div class="line"></div>
            <a style="direction: ltr" href="tel:+98215524311">+۹۸ ۲۱ ۵۵ ۲۴ ۳۱ ۱۱</a>
          </li>
          <li>
            <i class="dfi dfi-email"></i>
            <span>ایمیل</span>
            <div class="line"></div>
            <a href="mailto:info@dominodairy.com" style="direction: ltr;font-family: Roboto;">info@dominodairy.com</a>
          </li>
        </ul>
        <ul class="socials">
          <li>
            <a href="http://www.facebook.com/dominoicecream8dairy">
              <i class="dfi dfi-facebook"></i>
              <span>facebook</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/dominodairyco">
              <i class="dfi dfi-twitter"></i>
              <span>twitter</span>
            </a>
          </li>
          <li>
            <a href="http://instagram.com/dominodairyco">
              <i class="dfi dfi-instagram"></i>
              <span>instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="map">
    <div class="container">
      <div class="map-wrapper wi-100">
        <iframe src="https://www.google.com/maps/d/embed?mid=1GziwHUojq68TcH5Q7_bppjz_Ue2YNdNm"></iframe>
      </div>
    </div>
  </section>
</div>
