<div class="wrapper flex-col wi-100" style="overflow: hidden;position: relative;">
  <d-header></d-header>
  <router-outlet></router-outlet>
  <div class="wi-100" style="height: 100vh;position: fixed;filter: blur(8px);
  -webkit-filter: blur(8px);display: flex;align-items: center;justify-content: center;
  background-color:rgba(0,0,0,.9);z-index: 99;backdrop-filter: blur(2px);">

  </div>
  <countdown-timer style="
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  padding:30px;
  font-size:8em;
  font-family:iranyekan-fanum;"
                   [end]="'2019-01-03 03:21:12'"></countdown-timer>


  <d-footer></d-footer>
</div>
