@import "colors.scss";
@import "variables.scss";

/* Style the list */
ul.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  li{
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: .75em;
    line-height: 1.75;

    color: #b3b3b3;
    &.white{
      color:rgba(256,256,256,.63);
      &:last-child{
        color: white;
      }
      a{
        &:hover{
          color: white;
        }
      }
    }
    &:last-child{
      color: #666666;
    }
    i{
      padding-right: 8px;
      font-size: .6em;
    }
    a{
      transition: color .4s ease;
      &:hover{
        color: #666666;
      }
    }
  }
}

