<!--<div class="group">-->


<!--<input sbOnlyNumbersAllowed-->
<!--[active]="numberOnly"-->
<!--[style.font-family]="farsiNumberFont ? 'IRANSans-faNum' : 'inherit'"-->
<!--[style.direction]="rtl ? 'rtl' : 'ltr'"-->
<!--[attr.type]="type"-->
<!--[attr.name]="name"-->
<!--[class.verifyMode]="verifyMode"-->
<!--[attr.autocomplete]="autocomplete"-->
<!--[placeholder]="verifyMode ? '__ __ __ __ __' : ''"-->
<!--name="email"-->
<!--[value]="value"-->
<!--[attr.maxlength]="maxInput"-->
<!--#val-->
<!--(input)="change(val.value)"-->
<!--id="my-input"-->
<!--[autofocus]="autoFocus"-->
<!--required>-->
<!--<label for="my-input">{{label}}</label>-->
<!--<span class="bar"></span>-->

<!--<ng-content></ng-content>-->

<!--</div>-->

<div class="wrapper">
  <select [attr.id]="label" title="masalan" (input)="change(val.value)" [value]="value" #val>
    <option value="1" selected>shomare 1</option>
    <option value="2">shomare 2</option>
    <option value="3">shomare 3</option>
    <option value="4">shomare 4</option>
    <option value="5">shomare 5</option>
    <option value="6">shomare 6</option>
  </select>
  <i class="dfi dfi-arrow-down"></i>

</div>

<div class="select-wrapper"></div>
