$bg-color: #424242;
$hl-color: #2196F3;
$trans-time: 200ms;
$width: 100%;


:host{
  width: 100%;
  &.ng-invalid.ng-dirty.ng-touched{
    .bar:before{
      background: red;
      width: $width;
    }

  }
  &.ng-valid{
    .bar:before{
      background: green;
      width: $width;
    }
  }
}

.group {

  position: relative;
  margin-bottom: 45px;
  width: 100%;
}

// INPUTS // ============================== //
textarea {
  resize: none;
}

input,
textarea {

  background: none;
  color: black;
  font-size:.8em;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid gray;
  &.verifyMode{
    font-size: 1.5em;
    letter-spacing: 10px;
    text-align: center;
  }
  &:focus {
    outline: none;
  }
  &:focus + label,
  &:valid + label {
    top: -14px;
    font-size: 0.7em;
    color: blue;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
  &.ng-invalid.ng-dirty.ng-touched~ .bar:before{
    background: red;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: black;
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  right: 5px;
  top: 10px;
  transition: $trans-time ease-out all;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: '';
    height: 3px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: blue;
    transition: $trans-time ease all;
    right: 0;
  }
}





