<div class="wrapper flex-col wi-100">
  <section id="header" [class.active]="activeHeader!=''">
    <div class="bc-grad"></div>
    <svg id="big" viewBox="0 0 1299 150.35">
      <path class="pg-bg-down-curve"
            d="M1056.25,1.21 A1122.69,1122.69,0,0,0,940.68,14.45 C915.59,18.64,888.87,24,819.73,41.19 C737.9,61.56,727.63,66,650.89,85.5 A1284.1,1284.1,0,0,1,354.7,138.19 a816.87,816.87,0,0,1,-88,0.46 a785.87,785.87,0,0,1,-101.29,-11.33 c-37.29,-6.89,-42.89,-11.15,-78.55,-17.81 A624.5,624.5,0,0,0,0,99.45 v50.9 H1299 V40.16 A550.16,550.16,0,0,0,1056.25,1.21"/>
    </svg>
    <svg id="small" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 22">
      <defs>
        <style>
          .small-bc-prime {
            fill: #fff;
          }
        </style>
      </defs>
      <path class="small-bc-prime" d="M0,22H375C328.67,9.42,264.68.05,188,0,110.85,0,46.49,9.38,0,22Z"/>
    </svg>

    <div class="navigator-wrapper">
      <div class="container flex-row jus-between al-center">
        <a [routerLink]="['/']"><i class="dfi dfi-close"></i></a>
        <d-bread-crumb [links]="breadCrumbLinks" [white]="true"></d-bread-crumb>
      </div>
    </div>
    <div class="small-controll-wrapper">
         <span class="controll right" (click)="changeCategory('right')">
            <i class="dfi dfi-arrow-right"></i>
          </span>
      <span class="controll left" (click)="changeCategory('left')">
            <i class="dfi dfi-arrow-left"></i>
          </span>
    </div>
    <div #parent class="container titles flex-row jus-center">

      <div #right class="title" [class.unActive]="(activeHeader=='cooking') || (activeHeader=='campaign')" [class.active]="activeHeader=='news'">
        <a [routerLink]="['/blog']" [queryParams]="{category: 'news'}"><h1 (click)="activeHeader='news'">اخبار</h1></a>
        <div class="line" >
          <div class="circle"></div>
        </div>
      </div>
      <div #center class="title" [class.unActive]="activeHeader=='campaign' || (activeHeader=='news')" [class.active]="activeHeader=='cooking'" style="margin-left: 20%;margin-right: 20%;">
        <a [routerLink]="['/blog']" [queryParams]="{category: 'cooking'}"><h1 (click)="activeHeader='cooking'">آشپزی</h1></a>
        <div class="line" >
          <div class="circle"></div>
        </div>
      </div>
      <div #left class="title" [class.unActive]="activeHeader=='cooking' || (activeHeader=='news')" [class.active]="activeHeader=='campaign'">
        <a [routerLink]="['/blog']" [queryParams]="{category: 'campaign'}"><h1 (click)="activeHeader='campaign'">کمپین‌ها</h1></a>
        <div class="line" >
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </section>
  <section id="menu" [class.active]="activeHeader!=''">
    <ul class="main-menu">
      <li>نوشیدنی‌ها</li>
      <li>کیک‌ها</li>
      <li>غذاها</li>
      <li>دسرها</li>
    </ul>
    <ul class="sub-menu">
      <li>شیر</li>
      <li>خامه</li>
      <li>بستنی</li>
      <li>ماست</li>
    </ul>
  </section>

  <section id="from-blog">
    <div class="articles section-inside-wrapper big">
      <ul>
        <li *ngFor="let p of articles">
          <a class="container" [routerLink]="[p.alias]">
            <svg class="insta-card-down-wrapper" viewBox="0 0 360 142" >
              <path class="insta-card-down" d="M360,142 H0 V0 Q180,30,360,0 V142"/>
            </svg>
            <svg class="insta-card-up-wrapper" viewBox="0 0 360 162">
              <path class="insta-card-up" d="M0,162 H360 V20 Q180,-20 0,20 V162"/>
            </svg>
            <div class="image" [style.background]="'url('+p.thumbnail+')'">
              <div class="bc flex-row al-center jus-center">
                <div class="bc-container flex-row">
                  <div class="like flex-col">
                    <i class="dfi dfi-thumb-up"></i>
                    <span>۳۴۲</span>
                  </div>
                  <div class="line"></div>
                  <div class="view flex-col al-center jus-center">
                    <i class="dfi dfi-view"></i>
                    <span>۸۷۳</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="caption flex-col jus-center al-center">
              <div class="top flex-row jus-between al-center wi-100">
                <span>{{p.title}}</span>
                <div class="like">
                  <span>مشاهده مطلب</span>
                  <i class="dfi dfi-dash-arrow-left"></i>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
