@import "colors.scss";

section#slider{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  background: url("/assets/images/about-truck.jpg") no-repeat top;
  background-size: 100% auto;
  background-position-y: bottom;
  .controllers-wrapper{
    position: absolute;
    width: 390px;
    height: 390px;
    border-radius: 100%;
    background-color: $main-background;
    right: -260px;
    top: 120px;
    display: flex;
    align-items: center;
    .controllers{
      position: absolute;
      left: 30px;
      display: flex;
      flex-direction: column;
      .controll{
        &#right{
          margin-bottom: 25px;
        }
        i{
          font-size: 1.2em;
          color:$main-red;
          opacity: .45;
          cursor: pointer;
          transition: opacity .2s ease;
          &:hover{
            opacity: 1;
          }

        }

      }
    }
  }
  .slider-wrapper{
    width: 100%;
    height: 680px;
    position: absolute;
    padding-top: 55px;
    padding-bottom: 55px;
    top: 0;
    .slide{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 190px;
      .description{
        display: flex;
        flex-direction: column;
        p.caption{
          font-size: 2.25em;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: -0.9px;
          text-align: right;
          color: $main-text-color;
          margin-bottom: 14px;
        }
        button.outer{
          width: 220px;
          height: 55px;
          background-image: linear-gradient(to right, #feae62 0%,#d53f56 100%);
          border-radius: 26px;
          button.inner{
            background-color: #1f5bbb;
            width: 214px;
            height: 49px;
            font-size: 1em;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.75;
            letter-spacing: -0.6px;
            text-align: center;
            color:$main-text-color;
            border-radius: 26px;
          }
        }
      }
      .images{
        position: relative;
        width: 611px;
        height: 572px;
        img{
          z-index: 10;
          position: absolute;
          width: 100%;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

section#about{
  height: 740px;
  //background: url("/assets/images/about-truck.jpg") no-repeat center;
  //background-size: cover;

}
