$placeholder-color:rgba(0,0,0,.3);

// PRIMARY COLORS
$primary-red:#D53F56;
$primary-dark-blue:#1E3CAA;
$primary-light-blue:#14B4FF;

// SECONDRY COLORS
$very-light-blue:#E0F4FF;
$blue-gradient-start:#23419B;
$blue-gradient-end:#1795FF;
$red-gradient-start:#D53F56;
$red-gradient-end:#FEAE62;
$cyan-blue:#6CB5DE;
$light-green:#76DC8F;
$secondry-red:#F01E1E;

//TEXTS
$light-gray-text:#748086;
$dark-gary-text:#515151;
$main-text-color:#fff;

//MISC
$main-background:#fff;
$secondry-background:#f4f3f0;




