@import 'grid.scss';
@import "fonts.scss";
@import "colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  font-family: iranyekan, roboto, sans-serif;
  direction: rtl;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

*:focus,
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset;
}

input, textarea {
  font-family: iranyekan, roboto, sans-serif;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholder-color;
    letter-spacing: normal !important;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder-color;
    letter-spacing: normal !important;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $placeholder-color;
    letter-spacing: normal !important;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $placeholder-color;
    letter-spacing: normal !important;
  }
}

.section-inside-wrapper {
  width: 1103px;
  &.big {
    width: 1170px;
  }
}

button {
  font-family: iranyekan, roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  border: none;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .4s ease;
}

h1 {
  font-size: 2.5em;
  line-height: 1.75;
  letter-spacing: -0.2px;
  text-align: left;
  color: $main-text-color;
}

h2 {
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: -0.8px;
  text-align: center;
  color: $main-background;
  z-index: 1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.71;
  text-align: right;
  color: $main-text-color;
}

.domino-section-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  z-index: 5;
  &.short {
    .line {
      height: 57px;
    }
  }
  .line {
    width: 1px;
    height: 185px;
    background-color: $main-background;
  }
  .circle {
    width: 9px;
    height: 9px;
    background-color: $main-background;
    border-radius: 100%;
  }
}

.navigator-wrapper {
  padding-top: 26px;
  padding-bottom: 10px;
  i.dfi-close {
    color: $primary-red;
    cursor: pointer;
    font-size: .9em;
  }
}

.grad-btn {
  border-radius: 26px;
  width: 295px;
  height: 60px;
  background-image: linear-gradient(45deg, #feae62, #d53f56, #feae62, #d53f56, #feae62, #d53f56, #feae62, #d53f56);
  color: $main-text-color;

  background-repeat: no-repeat;
  background-size: 400% 400%;
  &:hover {
    background-position: 25% 0;
  }
}

@include laptop() {
  .section-inside-wrapper {
    width: 85% !important;
  }
}

@include tablet() {
  h2 {
    font-size: 1.8em;
  }

  .section-inside-wrapper {
    width: 90% !important;
  }
}


