@import "domino-font-icon";

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/IRANYekan/eot/iranyekanwebbold.eot');
  src: url('/assets/fonts/IRANYekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/IRANYekan/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/IRANYekan/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/IRANYekan/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/IRANYekan/eot/iranyekanweblight.eot');
  src: url('/assets/fonts/IRANYekan/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/IRANYekan/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/IRANYekan/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/IRANYekan/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/IRANYekan/eot/iranyekanwebregular.eot');
  src: url('/assets/fonts/IRANYekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/IRANYekan/woff2/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/IRANYekan/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/IRANYekan/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan-fanum;
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/IRANYekan-fanum/eot/iranyekanwebbold(fanum).eot');
  src: url('/assets/fonts/IRANYekan-fanum/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/IRANYekan-fanum/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/IRANYekan-fanum/woff/iranyekanwebbold(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/IRANYekan-fanum/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
  font-family: iranyekan-fanum;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/IRANYekan-fanum/eot/iranyekanweblight(fanum).eot');
  src: url('/assets/fonts/IRANYekan-fanum/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/IRANYekan-fanum/woff2/iranyekanweblight(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/IRANYekan-fanum/woff/iranyekanweblight(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/IRANYekan-fanum/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
  font-family: iranyekan-fanum;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/IRANYekan-fanum/eot/iranyekanwebregular(fanum).eot');
  src: url('/assets/fonts/IRANYekan-fanum/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/IRANYekan-fanum/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/IRANYekan-fanum/woff/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/IRANYekan-fanum/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}

/* Latin fonts (Roboto) */

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/IRANYekan/eot/robotobold.eot');
  src: url('/assets/fonts/IRANYekan/eot/robotobold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/IRANYekan/woff2/robotobold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/IRANYekan/woff/robotobold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/IRANYekan/ttf/robotobold.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/IRANYekan/eot/robotolight.eot');
  src: url('/assets/fonts/IRANYekan/eot/robotolight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/IRANYekan/woff2/robotolight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/IRANYekan/woff/robotolight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/IRANYekan/ttf/robotolight.ttf') format('truetype');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/IRANYekan/eot/robotoregular.eot');
  src: url('/assets/fonts/IRANYekan/eot/robotoregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/assets/fonts/IRANYekan/woff2/robotoregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/assets/fonts/IRANYekan/woff/robotoregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/assets/fonts/IRANYekan/ttf/robotoregular.ttf') format('truetype');
}

